* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Signika', sans-serif;
}

header {
    display: flex;
    background-color: rgb(4, 22, 37);
    padding: 10px 10px;
}

.menu {
    margin-left: auto;
}

.menu-barra {
    width: 18px;
    height: 3px;
    margin-top: 3px;
    background-color: #c0c5c9;
    border-radius: 5px;
}

.menu-barra:first-child {
    margin-top: 0;
}

.menu-text {
    font-size: 1.4rem;
    font-weight: bold;
    color: #c0c5c9;
    margin-left: 5px;
}

main {
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.background {
    background-color: rgba(0, 0, 0, 0.5);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 10px 0;
    color: white;
}

.text {
    font-size: 1.7rem;
    font-weight: 300;
    text-align: center;
    line-height: 25px;
    padding: 0 10px;
    color: rgba(255, 255, 255, 0.65);
}

.main-button {
    display: block;
    font-family: 'Signika', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 70px;
    margin-top: 20px;
    color: white;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    transition: 0.4s ease;
}

.main-button:hover, .main-button:active {
    background-color: rgba(255, 255, 255, 0.158);
}

.first-section {
    background-color: #062038;
    padding-bottom: 30px;
}

.first-section__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.first-section__wrapper__title {
    font-size: 2.5rem;
    text-align: center;
    color: white;
    padding-top: 20px;
}

.first-section__wrapper__paragraph {
    font-size: 1.8rem;
}

.videos-container {
    display: flex;
    flex-direction: column;
}

.videos-container__card {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    max-width: 500px;
    height: 300px;
    margin: 5px;
    background-color:  rgb(33, 52, 61);
}

.videos-container__card p {
   padding-bottom: 50px;
}

.videos-container__card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.second-section {
    background-color: #041625;
    padding-bottom: 30px;
}

.second-section__wrapper {
    padding: 20px;
}

.second-section__wrapper__title {
    font-size: 2.5rem;
    text-align: left;
    color: white;
    padding-top: 20px;
}

.second-section__wrapper__paragraph {
    font-size: 1.8rem;
    text-align: left;
    padding: 0;
}

.second-section__wrapper__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.second-section__wrapper__content__buttons-container {
    margin-top: 25px;
}

.second-section__wrapper__content__buttons-container button {
    box-sizing: border-box;
    padding-left: 15px;
    display: block;
    font-size: 1.5rem;
    text-align: left;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.726);
    background-color: rgb(31, 44, 52);
    border: none;
    border-radius: 5px;
    transition: 0.4s ease;
}

.second-section__wrapper__content__buttons-container button:first-child {
    background-color: #AA14CC;
}

.second-section__wrapper__content__buttons-container button:hover {
    background-color: rgb(105, 61, 204);
}

.second-section__wrapper__content__images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
}

.second-section__wrapper__content__images img {
    max-width: 400px;
    max-height: 200px;
    width: 90%;
    object-fit: cover;
    margin: 5px 5px;
}

.third-section {
    background-color: rgb(10, 18, 22);
    padding-bottom: 30px;
}

.third-section__wrapper {
    padding: 20px;
}

.third-section__wrapper__images {
    display: flex;
    flex-direction: column;
}

.third-section__wrapper__images .videos-container__card {
    margin: 0 auto;
    margin-bottom: 10px;
}

.third-section__wrapper__title {
    font-size: 2.5rem;
    text-align: center;
    color: white;
    padding-top: 20px;
}

.third-section__wrapper__paragraph {
    font-size: 2rem;
    margin: 10px 0;
}

footer {
    background-color: rgb(2, 11, 19);
}

.footer__wrapper {
    padding: 20px;
}

.footer__wrapper__lists {
    display: flex;
    flex-direction: column;
}

.footer__wrapper__lists ul {
    margin: 0 10px;
    margin-top: 25px;
}

.footer__wrapper__lists ul h3 {
    font-size: 1.8rem;
    color: white;
}

.footer__wrapper__lists ul li {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.164);
}

.footer__wrapper__lists ul li a {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 10px 0;
    color: rgba(255, 255, 255, 0.651);
}

@media(min-width:700px) {
    html {
        font-size: 12px;
    }

    .videos-container {
        margin-top: 60px;
        flex-direction: row;
    }
    .second-section__wrapper__content__images {
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      margin: 0 auto;
    }
    .second-section__wrapper__content__images img {
        max-width: 300px;
    }
    .third-section__wrapper__images {
        flex-direction: row;
        justify-content: space-around;
    }
    .third-section__wrapper__images .videos-container__card {
        max-width: 500px;
        margin: 0 10px;
    }
    .footer__wrapper {
        max-width: 70vw;
        margin: 0 auto;
    }
    .footer__wrapper__lists {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media(min-width:900px) {
    html {
        font-size: 14px;
    }
    .second-section__wrapper__content__images {
        max-width: 1200px;
    }
    .second-section__wrapper__content__images img {
        max-width: 380px;
    }
}