* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Signika', sans-serif;
}

header {
    display: flex;
    background-color: rgb(4, 22, 37);
    padding: 10px 10px;
}

.menu {
    margin-left: auto;
}

.menu-barra {
    width: 18px;
    height: 3px;
    margin-top: 3px;
    background-color: #c0c5c9;
    border-radius: 5px;
}

.menu-barra:first-child {
    margin-top: 0;
}

.menu-text {
    font-size: 1.4rem;
    font-weight: bold;
    color: #c0c5c9;
    margin-left: 5px;
}

main {
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.background {
    background-color: rgba(0, 0, 0, 0.397);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 10px 0;
    color: white;
}

.text {
    font-size: 1.7rem;
    font-weight: 300;
    text-align: center;
    line-height: 25px;
    padding: 0 10px;
    color: rgba(255, 255, 255, 0.65);
}

.main-button {
    display: block;
    font-family: 'Signika', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 70px;
    margin-top: 20px;
    color: white;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    transition: 0.4s ease;
}

.main-button:hover, .main-button:active {
    background-color: rgba(255, 255, 255, 0.158);
}

.first-section {
    background-color: #062038;
    min-height: 100vh;
}

.first-section__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-section__wrapper__title {
    font-size: 2.5rem;
    text-align: center;
    color: white;
    padding-top: 20px;
}

.first-section__wrapper__paragraph {
    font-size: 1.8rem;
}

.videos-container {
    display: flex;
    flex-direction: column;
}

.videos-container__card {
    width: 300px;
    height: 300px;
    margin: 20px auto;
    background-color:  rgb(33, 52, 61);
}

.videos-container__card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}